#header{
    background-color: #121213;
    height: 60px;
}
#a{
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    color:aquamarine;
}
#card{
    position: relative;
    left: 35%;
    top: 30%;
    height: 40%;
    width: 30%;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #FFD8D8;
    box-shadow: 5px 5px 5px 5px gray;
}
#btm{
    background-color: #ED3500;}
#myDIV1,#myDIV2{
    display: none;
}
#three-column{
    display: inline-block;
    width: 33%;
    text-align: center;
}
.middle{
    background-image:url('./OIP1.png');
    background-size: cover;
    height: 600px;
    width: 100%;
}
.twocolumn{
    display: inline-block;
    width: 50%;
}